<section class="container">
    <article>
        <img src="../assets/images/galeria/1.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/2.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/3.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/4.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/5.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/6.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/7.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/8.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/9.jpg" alt="">
    </article>
    <article>
        <img src="../assets/images/galeria/11.jpg" alt="">
    </article>
    <p>
        Learn to surf - Practice your surfing skills and improve your surf techniques on land to prepare for the real thing! Surf skateboarding teaches you how to surf in a playful way and will improve your surfing skills significantly.
        You will be able to use the body movement and skills learned on the surf-skate instantly on a surfboard.
    </p>
    <p>
        Generating Speed - Pumping
        Generating speed on the Origins Surfskate is exactly the same body movement as pumping on a surfboard. You get really fast on the surfboard and will be able to pass closing sections on the wave you weren't able to do before.
    <p>
    <p>
        Improve Balance - Riding on the surfskateboard will increase your balance and stability. You won't fall off the surfboard as often as you did before. In a playful way you learn how to shift your body weight back and forth as it is adequate for riding a surfboard.
    </p>
    <p>
        Right Stance - The surfskateboard will teach you to adopt the right position, where to put your front and back foot and how to adjust your back leg for turning. Especially in a beginner state of surfing most mistakes occur due to stance and position of the feet.
    </p>
    <p>
        Surfing with Style - The more confident you are on the Origins Surfskate, the more fluent your body rotation becomes. You will learn to smoothly connect turns and surf carving turns from rail to rail.
    </p>
    <p>
        Turning and Carving - One of the greatest advantages of the Origins Surfskate is the ability to turn like you do on a surfboard. You can practice bottom turns, cut backs and top turns, both backside and frontside. You will gain confidence to put your body weight on the rail and your surfing will become more radical.

    </p>

    <p>
        Identify and Correct Mistakes - You can identify common mistakes you do on the surfboard really easily. Is your stance correct? Where are your eyes pointing? Do you rotate your head and shoulder to initiate turns? What are your hands and arms doing?
        Repeating the surf maneuvers on the surfskateboard will help you to eliminate mistakes in no time.
    </p>
    <p>

        Muscle Memory and Motor Learning - When the movement is repeated over time on the surfskateboard, a long-term muscle memory is created for the turns, allowing it to be performed without conscious effort on the surfboard.
        This process decreases the need for attention and creates maximum efficiency within the motor and memory systems. Surfing becomes automatic and will improve with the practice same as it is with everyday activities like riding a bicycle.

    </p>

    <!-- <div class="video">
        <video autoplay loop muted controls>
            <source src="../assets/images/galeria/palmar.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="video">
        <video autoplay loop muted controls>
            <source src="../assets/images/galeria/amposta.mov" type="video/mp4" />
        </video>
    </div>
    <div class="video">
        <video autoplay loop muted controls>
            <source src="../assets/images/galeria/bdm.mov" type="video/mp4" />
        </video>
    </div> -->






</section>