<header>
    <div class="nav-top">
        <div class="container">

            <div>
                <a href="Originssurfskate@gmail.com">
                    <i class="fas fa-envelope"></i>
                    <span>Originssurfskate@gmail.com</span>
                </a>
            </div>
            <div>
                <a href="tel:631406751">
                    <i class="fas fa-phone"></i>
                    <span>631406751</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class='fas fa-user-circle'></i>
                    <span>Shopping cart</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                    <span>Login</span>
                </a>
            </div>
        </div>
    </div>
</header>

<section class="container galeria">


    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/ProNew.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/Atlantide.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/Bucky.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/Pharaon.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/proyecto.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/comp2.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/comp3.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/comp6.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/comp7.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/bucky1.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/cl1.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/cl2.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/cl3.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/cl4.jpg)' }">
    </article>
    <article [ngStyle]="{'background-image': 'url(../assets/images/decks-and-completes/cl5.jpg)' }">
    </article>

</section>