<div class="wrapper">
  <header>
    <div class="container">

      <h2>ORIGINS SURFSKATES</h2>
      <h1>LIVE FAST DIE OLD</h1>
      <p>Origins Surfskates is a way to improve your surfing and fortunately it is now possible to find places and professionals who teach how to use it, as is the case with Julian Macias. In the water, everything happens very quickly, so that, out of the water, we educate our muscles to get their full potential in the water. Origins surfskate allows us to correct the posture on the board thanks to its different board models, you will be able to work on the proper flexion; and direct and distribute the body correctly.


      </p>
    </div>

    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ORIGINS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./galeria']">Gallery</a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./surfskatetrainning']">Surfskatetrainning</a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./decks-and-completes']">Decks-and-Completes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./contacto']">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./login']">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./booking']">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['./spots']">Spots</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>


  <footer>
    <div class="container">
      <span>Copyright &copy; 2022</span>
    </div>
  </footer>
</div>